  <div class="overview">
    <p class=overview-p>1.はじめに</p>
  </div>  
    <div class="introduction">
      「みつき」と申します。神奈川在住の30歳です。<br>
      精密機器メーカーの調達部門（購買よりも企画部門の毛色が強い）から、
      ITエンジニアを目指して転職活動を行っています。<br>
      好きなこと（モノ）は、「自己研鑽」「奥さんとペット」「ドライブ」「NBA」「カレー」「温泉」です。<br>
      苦手なこと（モノ）は、「暇な時間」「アニメ」です。<br>
    </div>

  <div class="career">
    <p class=career-p>2.学歴・職歴</p>
  </div>
      <div class="career-detail">
        <li>東京海洋大学　海洋工学部　流通情報工学科卒業</li>
        <li>精密機器メーカー在職中。購買業務（2年）生産技術業務（1年）企画業務（4年半）</li>
      </div>

  <div class="skills">
    <p class=skills-p>3.スキル</p>
  </div>
    <div class="skills-introduction">
      TechCamp（2020/11〜2021/5）にて下記、言語及び技術を学びWebアプリケーションを作成致しました。<br>
      なかでも「④男気ジャンケン結果記録アプリ」については企画〜コーディング〜テスト〜運用まで、1人で一貫して作成しました。<br>
      身近な課題発見、解決方法の提案、DB設計、バグ発生時の疑問点言語化、ユーザーへ実際に使って頂きフィードバック頂くなど<br>
      多くのことを学べました。<br>
      チーム開発が未経験など未熟な点は沢山ありますが（未熟な点しかないかも…）日々、継続した学習を行っております。<br>
        <div class="skills-list-title">
          <p class=skills-list-title-p>3-1.TechCampで学んだ言語、技術</p>
          <p class=note-p>※カッコ内は各スキルの得手、不得手を自ら相対評価したものです。対外的な比較ではありません。汗（相対評価Max：★★★）</p>
        </div>
          <div class="skills-list">
            <li>HTML（★★）</li>
            <li>CSS（★★）</li>
            <li>Ruby（★★）</li>
            <li>Ruby on Rails（★★★）</li>
            <li>JavaScript（★）</li>
            <li>GitHub（★★）</li>
            <li>Heroku（★★）</li>
            <li>AWS_EC2/S3（★）</li>
          </div>   
        <div class="products-list">
          <p class=skills-list-title-p>3-2.制作物</p>
          ①Twitterのクローンサイト（TechCampカリキュラム）<br>
          ②チャットアプリのクローンサイト（TechCampカリキュラム）<br>
          ③フリマアプリのクローンサイト（TechCamp最終課題）<br>
          ④男気ジャンケン結果記録アプリ（オリジナルアプリ開発）<br>
          ③と④についてはデプロイまで行っています。下記より是非覗いてみて下さい。<br>
          <a href="https://furima-32353.herokuapp.com/">③フリマアプリのクローンサイト</a><br>
          <a href="http://35.74.57.196/#">④男気ジャンケン結果記録アプリ</a>
        </div>
    </div>

  <div class="qualification">
    <p class=qualification-p>4.保有資格</p>
  </div>
      <div class="qualification-detail">
        <li>2010/11：普通自動車免許（第一種）</li>
        <li>2020/4：VBAエキスパート（スタンダード）→実務でもVBAを用いた業務改善を行っており、それなりにスキルはある筈です。</li>
        <li>2020/11：ITパスポート</li>
      </div>  

  <div class="contacts">
    <p class=contacts-p>5.コンタクト</p>
  </div>
  <div class="contacts-introduction">
    <a href="https://twitter.com/nJkp9dULKgE8UI4">twitter</a><br>
    <a href="https://github.com/Shira3yuriharu">GitHub</a>
  </div>