<body class="body-class">
  
  <div class="title">
    <p class=title-p>みつき's PortFolio</p>
  </div>
  <div class="overview">
    <p class=overview-p>1.はじめに</p>
  </div>
  
  <div class="introduction">
    「みつき」と申します。神奈川在住の30歳です。<br>
    精密機器メーカーの調達部門（購買よりも企画部門の毛色が強い）から、
    ITエンジニアを目指して転職活動を行っています。<br>
    好きなこと（モノ）は、「自己研鑽」「奥さんとペット」「ドライブ」「NBA」「カレー」「温泉」です。<br>
    苦手なこと（モノ）は、「暇な時間」「アニメ」です。<br>
  </div>
    <div class="career">
      <p class=career-p>【学歴・職歴】</p>
    </div>
      <div class="career-detail">
        <li>東京海洋大学　海洋工学部　流通情報工学科卒業</li>
        <li>精密機器メーカー在職中。購買業務（2年）生産技術業務（1年）企画業務（4年半）</li>
      </div>
  <div class="skill">
    <p class=skill-p>2.スキル</p>
  </div>
    <div class="skill-introduction">
      HTML・CSS・Ruby・Ruby on Rails・JavaScript・GitHub、AWS(EC2、S3) 等の技術を用いた複合的機能の企画・実装<br>
      ①Twitterのクローンサイト（TechCampカリキュラム）<br>
      ②チャットアプリのクローンサイト（TechCampカリキュラム）<br>
      ③フリマアプリのクローンサイト（TechCamp最終課題）<br>
      ④男気ジャンケン結果記録アプリ（オリジナルアプリ開発）<br>
      ③と④についてはデプロイまで行っています。下記より是非覗いてみて下さい。<br>
      <a href="https://furima-32353.herokuapp.com/">③フリマアプリのクローンサイト</a><br>
      <a href="http://35.74.57.196/#">④男気ジャンケン結果記録アプリ</a>
    </div>

  <div class="contacts">
    <p class=contacts-p>3.コンタクト</p>
  </div>
  <div class="contacts-introduction">
    <a href="https://twitter.com/nJkp9dULKgE8UI4">twitter</a><br>
    <a href="https://github.com/Shira3yuriharu">GitHub</a>
  </div>

</body>